.table {
    width:auto;
    margin-bottom: auto;
}
.table th {
    border-top:initial;
    background-color:lightgrey;
}

.table td {
    border-top:initial;
}

.div-message {
    text-align:center;
}
.message-font {
    font-size:large;
    font-weight:bold;
}